#complete-btn
  {
    background: #42ba96;
    outline: none;
    cursor: pointer;
    width: 200px;
    font-weight: 500;
    border-radius: 2px;
    padding: 5px 10px;
    color: white;
    /* align-items: center; */
    /* margin-left: 530px; */
  }
  #complete-btn:hover
  {
    background: white;
    /* color: rgb(0, 208, 255); */
    color:#42ba96;
  }