.bg-success
{
    background-color: blue;
}

.para
{
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


/* body {
  background: #a569bd;
} */
.text-color {
  color: #145a32;
}


.mobile-text {
  color: #cd5c5c;
  font-size: 15px;
}


.cursor {
  cursor: pointer;
}
