/* body {
    min-height: 100vh;
    background-color: dodgerblue;
} */

/* .App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
  padding: 1rem 0.5rem;
} */
#SignUpForm
{
    margin-left: 8%;
}

#dropDownMenu
{
    align-items: center;
}
#SignUpSection {
    width: 100%;
    /* max-width: 420px;
    min-height: 400px; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem;
    /* background-color: rgba(0,0,0,0.4); */
}

#SignUpForm {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    padding-bottom: 1rem;
}

/* a, a:visited {
    color: #fff;
} */
#dropDownMenu
{
    width: 200px;
}

/* input[type="text"],
input[type="email"],
input[type="password"], */


.inputFields{
  /* font-family: 'Nunito', sans-serif;
  font-size: 22px; */
  /* padding: 0.25rem;
  border-radius: 0.5rem; */
    border: none;
    border-bottom: 2px solid;
    background: transparent;
    height: 30px;
    outline: none;
    padding-bottom: 0.25rem;
    width: 80%;
    font-size: 14px;
    font: pt-serif caption;
    font-family: 'Quicksand', sans-serif;
    color: #585656 !important;
    font-weight: 300 !important;
}

/* input[type="text"]:hover,
input[type="email"]:hover,
input[type="password"]:hover, */


.inputFields:hover
{
    padding-bottom: 6px;
    border-bottom: 2px solid #42ba96;
    transition: 0.5s;
}

/* label */

.labels
 {
  margin-top: 0.5rem;
  margin-bottom: 0.2rem;
  font-weight: 600 !important;
}

#SignUpBtn {
  background: #42ba96;
  color: white;
  outline: none;
  cursor: pointer;
  font-weight: 500;
  /* margin-top: 2rem; */
  border-radius: 0.5rem;
  padding: 0.5rem;
  width: 200px;
}

/* #SignUpBtn :hover
{
    background: white;
    color: rgb(13, 6, 201); 
} */

.instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
}

.instructions > svg {
    margin-right: 0.25rem;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.hide {
    display: none;
}

.valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.invalid {
    color: red;
    margin-left: 0.25rem;
}

.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.line {
    display: inline-block;
}