/* .nav-item{
    margin-left:140px;
    margin-right:80px;
    font-size: 22px;
  }

.dropdown-item {
  background-color: rgba(143, 130, 229, 0.918);
}

.navbar-brand {
    font-size: 30px;
}

.navbar{
  background-color: rgb(106, 78, 117);
}

a{
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 color: #000;
} */
